<div class="col-12 {{#ifCondStrictEqual user.status 'student'}}col-lg-8{{/ifCondStrictEqual}}">
  <div class="row">
    <div class="col-12 col-sm-6 profile-avatar-container mb-5 mx-auto mx-sm-0">
      <img src="{{targetUser.avatar}}" alt="user avatar" class="img-fluid w-100 profile-avatar">
    </div>
    <div class="col-12 col-sm-6 flex-grow-1 mb-5">
      <h1 class="mb-5">{{targetUser.name}}</h1>
      <h5><i class="fa-solid fa-globe"></i> {{countryCodeToName targetUser.countryCode}}</h5>
      {{#if targetUser.rating}}
      <h5 class="mb-5"><i class="fa-solid fa-star"></i> {{targetUser.rating}}</h5>
      {{/if}}
    </div>
  </div>
  <div>
    <div class="card mb-3">
      <h5 class="card-header">About Me</h5>
      <div class="card-body">
        {{#if targetUser.selfIntro}}
        <p class="card-text">{{targetUser.selfIntro}}</p>
        {{else}}
        <p class="card-text text-center text-body-secondary">- nothing here -</p>
        {{/if}}
      </div>
    </div>
    <div class="card mb-3">
      <h5 class="card-header">Class Introduction</h5>
      <div class="card-body">
        {{#if targetUser.Teacher.classIntro}}
        <p class="card-text">{{targetUser.Teacher.classIntro}}</p>
        {{else}}
        <p class="card-text text-center text-body-secondary">- nothing here -</p>
        {{/if}}
      </div>
    </div>
    <div class="card mb-3">
      <h5 class="card-header">Teaching Style</h5>
      <div class="card-body">
        {{#if targetUser.Teacher.teachingStyle}}
        <p class="card-text">{{targetUser.Teacher.teachingStyle}}</p>
        {{else}}
        <p class="card-text text-center text-body-secondary">- nothing here -</p>
        {{/if}}
      </div>
    </div>
    <div class="card mb-3">
      <h5 class="card-header">Recent Reviewed</h5>
      <div class="card-body">
        {{#if targetUser.comments}}
        {{#each targetUser.comments}}
        <p class="card-text">
          <span class="badge text-bg-secondary"><i class="fa-solid fa-star"></i> {{this.rate}}</span>
          {{this.text}}
        </p>
        {{/each}}
        {{else}}
        <p class="card-text text-center text-body-secondary">- nothing here -</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{#ifCondStrictEqual user.status 'student'}}
<div class="col-12 col-lg-4">
  <div>
    <h5>預約上課</h5>
  </div>
</div>
{{/ifCondStrictEqual}}