<section class="mt-5">
  <div class="row">
    <div class="col-12 col-lg-9">
      <div class="mb-5">
        <form action="/tutor" method="get" class="d-flex" role="search">
          <input class="form-control form-control-lg me-2" type="search" placeholder="Search" name="keyword" value="{{keyword}}">
          <button class="btn btn-lg btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
      <div class="row">
        {{#each usersWithTeacherStatus}}
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
          <a href="/user/profile/{{this.id}}" class="text-decoration-none">
            <div class="card h-100">
              <div class="card-body">
                <div class="row mb-3">
                  <div class="col-6">
                    <div>
                      <img src="{{this.avatar}}" alt="user avatar" class="img-fluid w-100 profile-avatar">
                    </div>
                  </div>
                  <div class="col-6">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p><i class="fa-solid fa-globe"></i> {{countryCodeToName this.country_code}}</p>
                  </div>
                </div>
                <p class="card-text">{{this.class_intro}}</p>
              </div>
            </div>
          </a>
        </div>
        {{/each}}
      </div>
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="?page={{paginators.prevPage}}&keyword={{keyword}}">Previous</a></li>
          {{#each paginators.pageBtnArr}}
          <li class="page-item {{#if this.isDisabled}} disabled {{/if}} {{#if this.isActive}} active {{/if}}">
            <a class="page-link" href="?page={{this.pageNum}}&keyword={{../keyword}}">{{this.pageNum}}</a>
          </li>
          {{/each}}
          <li class="page-item"><a class="page-link" href="?page={{paginators.nextPage}}&keyword={{keyword}}">Next</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">學習時數總排行</h5>
          <div class="overflow-auto" style="max-height: 100vh;">
            {{#each studentRankings}}
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4 d-flex align-items-center">
                  <div class="students-rankings-avatar mx-auto">
                    <img src="{{this.Student.User.avatar}}" class="img-fluid rounded-circle profile-avatar"
                      alt="student avatar">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">NO.{{this.ranking}}</h5>
                    <p class="m-0">{{this.Student.User.name}}</p>
                    <p class="m-0">Learning Time: {{this.totalLearningTime}}</p>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>